<form id="form" method="POST" action="/sms/createsms">
	<label>ID</label>
	<input type="integer" name="id" id="id" value="" required />
	,
	<label>Phone</label>
	<input type="string" name="phone" id="phone" value="" required />
	,
	<label>Status</label>
	<input type="integer" name="status" id="status" value="" required />

	<input type="submit" id="submit" />
</form>
