<form id="form" method="POST" action="/user/createuser">
	<label>ID</label>
	<input type="integer" name="id" id="id" value="" required />
	,
	<label>Name</label>
	<input type="string" name="name" id="name" value="" required />
	,
	<label>Email</label>
	<input type="string" name="email" id="email" value="" required />
	,
	<label>Status</label>
	<input type="integer" name="status" id="status" value="" required />

	<input type="submit" id="submit" />
</form>
